.stylish {
    background:url(../images/dist/promo/bg.png), url(../images/dist/stylish/figma.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffff;
    padding-bottom: 50px;
  }
  
  .stylish__button {
    width: 370px;
    margin: 0 auto;
  }
  